xam portal 

PORT=5002
NODE_ENV=development

MONGO_URI=mongodb+srv://aboutankit4_db_user:Z8ixImWmmsjAyzyV@cluster0.hsdvsz0.mongodb.net/cbt_exam_portal1?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=change_this_super_secret_key
JWT_EXPIRE=1d

JWT_REFRESH_SECRET=change_this_refresh_secret_key
JWT_REFRESH_EXPIRE=7d

CLIENT_URL=http://localhost:5173